@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box;}
body { background: #000;}



.footer {
    background: #0A0A0E;
    font-family: 'Nunito', sans-serif;
}
.footer__inner {
    padding: 44px 50px;
    display: flex;
    align-items: center;
}

/* Logo */
.footer__logo .logo__link {
    text-decoration: none;
}
.footer__logo .logo__img {
    width: 57px;
    height: 57px;
}

/* Menu */
.footer__menu {
    flex-grow: 1;
}
.footer-menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 50px;
}
.footer-menu__item {
    margin-right: 84px;
    padding: 5px 0;
}
.footer-menu__link {
    color:#313143;
    text-decoration: none;
    font-size: 400;
    font-size: 16px;
}
.footer-menu__link_active {
    color: #fff;
    text-decoration: underline;
}
.footer-menu__link:hover {
    color: rgb(180, 180, 180, 0.7);
    text-decoration: underline;
    transition: 0.2s ease;
}

/* Social */
.footer__social {
}   
.footer__social .social__list {
    display: flex;
    align-items: center;
    list-style: none;
}
.footer__social .social__item {
    width: 35px;
    height: 35px;
}
.footer__social .social__item:not(:last-child) {
    margin-right: 73px;
}
.footer__social .social__link {
}
.footer__social .social__img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .footer__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-menu__list {
        justify-content: center;
        margin: 30px 0;
    }
    .footer-menu__item {
        margin-right: 30px;
    }
}

@media screen and (max-width: 500px) {
    .footer-menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .footer-menu__item {
        margin: 0;
        text-align: center;
    }
    .footer__social .social__item:not(:last-child) {
        margin-right: 40px;
    }
}