@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box;}
body { background: #000;}
.footer {
    background: #0A0A0E;
    font-family: 'Nunito', sans-serif;
}
.footer__container {
    width: 1354px;
    margin: 0 auto;
}
.footer__inner {
    padding: 44px 0;
    display: flex;
    align-items: center;
}

/* Logo */
.footer__logo {
}
.footer__logo .logo__link {
    text-decoration: none;
}
.footer__logo .logo__img {
    width: 57px;
    height: 57px;
}

/* Menu */
.footer__menu {
    flex-grow: 1;
    padding: 0 70px;
}
.footer__menu .menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.footer__menu .menu__item {
    margin-right: 84px;
    padding: 5px 0;
}
.footer__menu .menu__link {
    color:#313143;
    text-decoration: none;
    font-size: 400;
    font-size: 16px;
}
.footer__menu .menu__link_active {
    color: #fff;
    text-decoration: underline;
}
.footer__menu .menu__link:hover {
    color: rgb(180, 180, 180, 0.7);
    text-decoration: underline;
    transition: 0.2s ease;
}

/* Social */
.footer__social {
}   
.footer__social .social__list {
    display: flex;
    align-items: center;
    list-style: none;
}
.footer__social .social__item {
    width: 35px;
    height: 35px;
}
.footer__social .social__item:not(:last-child) {
    margin-right: 73px;
}
.footer__social .social__link {
}
.footer__social .social__img {
    width: 100%;
    height: 100%;
}